<%- include("partials/header",{id:id ? id:null}) %>

  <head>
    <script>
      let name = '<%=name%>';
    </script>
    <script src="/face-api.js/dist/face-api.min.js"></script>
    <script src="/javascripts/supportFunc.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"> </script>
  </head>

  <style>
    /* body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column
    } */

    #capturedImage {
      display: none;
    }

    /* #proceed {
    visibility: hidden;
  } */

    canvas {
      position: absolute; 
      text-align: center;
      top: 0;
      left: 0;
    }
  </style>

  <script>

    document.addEventListener('keyup', () => {
      document.getElementById('capturedImage').src = '<%=capturedfile%>';
      document.getElementById('capturedImage').style.display = "inline"
    })

  // setInterval(()=> {
  //   document.getElementById('proceed').style.visibility = "visible"
  // },2000)


  </script>

  <body>
    <!-- image captured during login -->
    <img id="capturedImage" alt="">
    <!-- /images/Sarthak.jpg -->
    <!-- photos -> actual images during signup -->
    <div id="original">
      <h4>Actual Image</h4>
      <img src='<%=actualfile%>' id='actual' name='<%=name%>' style="max-width:12rem; max-height: 16rem;">
    </div>
    <!-- <div class="container">
    
  </div>

  <div class="container">
     
  </div> -->

    <div id='proceed'></div>

    <!-- Sarthak Arora Photo.jpg -->
    <%- include('partials/footer') %>