<%- include("partials/header",{id:id ? id:null}) %>

  <head>
    <script>
      let name = '<%=name%>';
    </script>
    <script src="/face-api.js/dist/face-api.min.js"></script>
    <script src="/javascripts/supportFunc.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"> </script>
  </head>

  <style>
    #capturedImage {
      display: none;
    }

    canvas {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
    }
  </style>

  <script>

    document.addEventListener('keyup', () => {
      document.getElementById('capturedImage').src = '<%=capturedfile%>';
      document.getElementById('capturedImage').style.display = "inline"
    })


  </script>

  <body>
    <img id="capturedImage" alt="">
    <div id="original">
      <h4>Actual Image</h4>
      <img src='<%=actualfile%>' id='actual' name='<%=name%>' style="max-width:12rem; max-height: 16rem;">
    </div>

    <%- include('partials/footer') %>